{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About | Demo</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, accusantium nulla mollitia ut impedit quod doloremque, inventore quidem saepe veniam optio quo dignissimos aperiam officia quasi at tempore et ab?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/nodejs.png" alt="" class="img-thumbnail">

    </div>

</div>

{{> footer }}